[package]
name = "json-schema-to-nickel"
version = "0.1.0"
edition = "2021"
authors = ["Matthew Toohey <contact@mtoohey.com>"]
description = "Convert JSON schemas into Nickel contracts."
readme = "README.md"
homepage = "https://github.com/mtoohey31/json-schema-to-nickel"
repository = "https://github.com/mtoohey31/json-schema-to-nickel"
license = "MIT OR Apache-2.0"

[dependencies]
clap = { version = "4.1.8", features = ["derive"] }
nickel-lang = { version = "0.3.1", default-features = false }
pretty = "0.11.3"
schemars = "0.8.12"
serde_json = "1.0.93"
terminal_size = "0.2.5"

[dev-dependencies]
json_schema_test_suite = "0.3.0"
lazy_static = "1.4.0"
mockito = { version = "0.32.4", default-features = false }
nickel-lang = { version = "0.3.1", default-features = false }
schemars = "0.8.12"
serde_json = "1.0.93"
stringreader = "0.1.1"
